.button {
     position: relative; 
     border-radius: 5px;
     text-transform: uppercase;
     margin: 10px;
     padding: 8px 20px;
    }

.button.contained {
    background: #FF0000;
    color: #FFFFFF;
    display: inline-block;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0,0,0,.12);
}

.button.contained:hover{
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0,0,0,.12);
}

.button.outlined {
    display: inline-block;
    color: red;
    border-style:solid;
    border-color:red;
    border-width: 1px;
}

.button.outlined:hover {
    background: rgba(215, 44, 44, 0.1);
}

.button.text {
    display: inline-block;
    color: red;
}

.button.text:hover {
    background: rgba(215, 44, 44, 0.1);
}
